{
    "prefix": "contest",
    "DB": {
        "POSTGRES_USER": "nctuoj_contest",
        "POSTGRES_DB": "nctuoj_contest",
        "POSTGRES_PASSWORD": "nctuoj_contest"
    }, 
    "api": {
        "number": 4,
        "DATA_ROOT": "/mnt/nctuoj_contest/"
    },
    "web": {
        "BASE_URL": "https://contest.oj.nctu.me",
        "DATA_ROOT": "/mnt/nctuoj_contest_web/"
    },
    "judge": {
        "number": 4,
        "BASE_URL": "https://contest.oj.nctu.me"
    },
    "judgetoken": "judgefortoken",
    "sbtoken": "sbtoken"
}
